In [1]:
import spotipy
import spotipy.oauth2
import spotipy.util as util
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import numpy as np
import statistics

import time

In [2]:
all_dat = pd.read_csv('regions_500mb_no_timbres.csv')
all_dat.head(1)

,Unnamed: 0,Position,Track Name,Artist,Streams,URL,Date,Region,acousticness,analysis_url,...,global,nl,bo,lv,gr,pa,uy,au,pt,fi
0,0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec,0.4,https://api.spotify.com/v1/audio-analysis/3AEZ...,...,True,True,True,False,False,True,True,False,True,False

In [9]:
all_dat = all_dat.drop('Unnamed: 0', axis = 'columns')
print(all_dat.columns.values)
all_dat.head(1)

['Position' 'Track Name' 'Artist' 'Streams' 'URL' 'Date' 'Region'
 'acousticness' 'analysis_url' 'danceability' 'duration_ms' 'energy' 'id'
 'instrumentalness' 'key' 'liveness' 'loudness' 'mode' 'speechiness'
 'tempo' 'time_signature' 'track_href' 'type' 'uri' 'valence' 'ee' 'br'
 'my' 'cz' 'pe' 'gb' 'ie' 'se' 'sk' 'co' 'sg' 'ec' 'es' 'no' 'dk' 'be'
 'lu' 'do' 'nz' 'de' 'hu' 'cr' 'jp' 'hk' 'lt' 'pl' 'it' 'hn' 'mx' 'ph'
 'cl' 'is' 'ca' 'ar' 'at' 'ch' 'tr' 'py' 'tw' 'gt' 'sv' 'us' 'fr' 'global'
 'nl' 'bo' 'lv' 'gr' 'pa' 'uy' 'au' 'pt' 'fi']

,Position,Track Name,Artist,Streams,URL,Date,Region,acousticness,analysis_url,danceability,...,global,nl,bo,lv,gr,pa,uy,au,pt,fi
0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec,0.4,https://api.spotify.com/v1/audio-analysis/3AEZ...,0.761,...,True,True,True,False,False,True,True,False,True,False

In [10]:
dat_0_2500 = pd.read_csv('timbres_all_0_2500.csv')
dat_2500_5000 = pd.read_csv('timbres_all_2500_5000.csv')
dat_5000_7500 = pd.read_csv('timbres_all_5000_7500.csv')
dat_7500_10000 = pd.read_csv('timbres_all_7500_10000.csv')
dat_10000_12500 = pd.read_csv('timbres_all_10000_12500.csv')
dat_12500_15000 = pd.read_csv('timbres_all_12500_15000.csv')
dat_15000_17500 = pd.read_csv('timbres_all_15000_17500.csv')
dat_17500_20000 = pd.read_csv('timbres_all_17500_20000.csv')

In [66]:
timbre_df = pd.concat([dat_0_2500, dat_2500_5000, dat_5000_7500, dat_7500_10000,
                       dat_10000_12500, dat_12500_15000, dat_15000_17500, dat_17500_20000])

In [67]:
print(timbre_df.shape)
timbre_df.head(1)

(19421, 13)

,Unnamed: 0,timbre_all_1,timbre_all_2,timbre_all_3,timbre_all_4,timbre_all_5,timbre_all_6,timbre_all_7,timbre_all_8,timbre_all_9,timbre_all_10,timbre_all_11,timbre_all_12
0,0,"[0.001, 9.041, 15.241, 19.557, 25.867, 30.103,...","[171.115, -24.129, -119.744, -153.218, -160.83...","[9.458, -61.792, -38.037, 12.285, 90.896, 117....","[-28.499, -106.261, -79.338, -65.901, -27.041,...","[57.486, 103.951, 122.951, 104.709, 75.728, 65...","[-50.068, -12.997, -48.326, -55.799, -40.36, -...","[14.826, -21.369, -6.675, 17.282, 32.37, 22.92...","[5.339, -42.776, -13.281, -15.835, 3.522, 10.8...","[-27.235, -25.662, -22.974, -35.16, -20.728, -...","[0.968, 52.569, -2.852, -1.619, -1.482, -4.568...","[-10.635, -0.406, 6.358, 16.046, 3.024, 14.905...","[-7.211, 3.061, 6.752, -13.173, -1.3, -1.998, ..."

In [68]:
timbre_df = timbre_df.drop('Unnamed: 0', axis = 'columns')

In [37]:
all_uris = pd.read_csv('all_uris.csv', header = None)

In [38]:
all_uris.columns = ['random', 'uri']

In [59]:
new_dat = pd.DataFrame(columns = ['uri'])
new_dat['uri'] = all_uris['uri'].unique()

In [43]:
#sp.audio_analysis(new_dat['uri'][13902]) leads to error

In [60]:
new_dat = new_dat.drop(new_dat.index[13902]) #need to drop index 13902

In [61]:
print(new_dat.shape)
new_dat.head(2)

(19421, 1)

                                    uri
0  spotify:track:3AEZUABDXNtecAOSC1qTfo
1  spotify:track:6mICuAdrwEjh6Y6lroV2Kg

In [69]:
timbre_df.head(2)

,timbre_all_1,timbre_all_2,timbre_all_3,timbre_all_4,timbre_all_5,timbre_all_6,timbre_all_7,timbre_all_8,timbre_all_9,timbre_all_10,timbre_all_11,timbre_all_12
0,"[0.001, 9.041, 15.241, 19.557, 25.867, 30.103,...","[171.115, -24.129, -119.744, -153.218, -160.83...","[9.458, -61.792, -38.037, 12.285, 90.896, 117....","[-28.499, -106.261, -79.338, -65.901, -27.041,...","[57.486, 103.951, 122.951, 104.709, 75.728, 65...","[-50.068, -12.997, -48.326, -55.799, -40.36, -...","[14.826, -21.369, -6.675, 17.282, 32.37, 22.92...","[5.339, -42.776, -13.281, -15.835, 3.522, 10.8...","[-27.235, -25.662, -22.974, -35.16, -20.728, -...","[0.968, 52.569, -2.852, -1.619, -1.482, -4.568...","[-10.635, -0.406, 6.358, 16.046, 3.024, 14.905...","[-7.211, 3.061, 6.752, -13.173, -1.3, -1.998, ..."
1,"[0.004, 5.144, 9.24, 12.227, 14.894, 17.558, 2...","[171.055, 63.167, -11.729, -44.994, -88.17, -1...","[9.561, -21.63, -33.42, -3.467, -12.467, 5.477...","[-28.562, -59.427, -52.849, -40.1, -35.793, -5...","[57.581, 86.968, 102.789, 97.031, 98.901, 92.0...","[-50.128, -40.538, -53.967, -53.37, -50.001, -...","[14.934, 7.023, 16.437, 31.62, 24.063, 33.861,...","[5.21, -13.187, -0.266, 0.927, 7.129, -4.428, ...","[-27.123, -16.239, -4.99, -34.499, -29.267, -3...","[0.98, 20.744, 13.446, -3.853, 3.241, -5.752, ...","[-10.558, -2.418, -3.975, 3.057, -3.131, 2.306...","[-7.321, 2.795, -2.621, 9.605, -4.759, -0.52, ..."

In [70]:
timbre_df['uri'] = new_dat['uri']

In [71]:
timbre_df.head(2)

,timbre_all_1,timbre_all_2,timbre_all_3,timbre_all_4,timbre_all_5,timbre_all_6,timbre_all_7,timbre_all_8,timbre_all_9,timbre_all_10,timbre_all_11,timbre_all_12,uri
0,"[0.001, 9.041, 15.241, 19.557, 25.867, 30.103,...","[171.115, -24.129, -119.744, -153.218, -160.83...","[9.458, -61.792, -38.037, 12.285, 90.896, 117....","[-28.499, -106.261, -79.338, -65.901, -27.041,...","[57.486, 103.951, 122.951, 104.709, 75.728, 65...","[-50.068, -12.997, -48.326, -55.799, -40.36, -...","[14.826, -21.369, -6.675, 17.282, 32.37, 22.92...","[5.339, -42.776, -13.281, -15.835, 3.522, 10.8...","[-27.235, -25.662, -22.974, -35.16, -20.728, -...","[0.968, 52.569, -2.852, -1.619, -1.482, -4.568...","[-10.635, -0.406, 6.358, 16.046, 3.024, 14.905...","[-7.211, 3.061, 6.752, -13.173, -1.3, -1.998, ...",spotify:track:3AEZUABDXNtecAOSC1qTfo
1,"[0.004, 5.144, 9.24, 12.227, 14.894, 17.558, 2...","[171.055, 63.167, -11.729, -44.994, -88.17, -1...","[9.561, -21.63, -33.42, -3.467, -12.467, 5.477...","[-28.562, -59.427, -52.849, -40.1, -35.793, -5...","[57.581, 86.968, 102.789, 97.031, 98.901, 92.0...","[-50.128, -40.538, -53.967, -53.37, -50.001, -...","[14.934, 7.023, 16.437, 31.62, 24.063, 33.861,...","[5.21, -13.187, -0.266, 0.927, 7.129, -4.428, ...","[-27.123, -16.239, -4.99, -34.499, -29.267, -3...","[0.98, 20.744, 13.446, -3.853, 3.241, -5.752, ...","[-10.558, -2.418, -3.975, 3.057, -3.131, 2.306...","[-7.321, 2.795, -2.621, 9.605, -4.759, -0.52, ...",spotify:track:6mICuAdrwEjh6Y6lroV2Kg

In [52]:
#timbre_df.to_csv('timbres_all_unique.csv')

In [72]:
all_dat.head(2)

,Position,Track Name,Artist,Streams,URL,Date,Region,acousticness,analysis_url,danceability,...,global,nl,bo,lv,gr,pa,uy,au,pt,fi
0,1,Reggaetón Lento (Bailemos),CNCO,19272,https://open.spotify.com/track/3AEZUABDXNtecAO...,2017-01-01,ec,0.400,https://api.spotify.com/v1/audio-analysis/3AEZ...,0.761,...,True,True,True,False,False,True,True,False,True,False
1,2,Chantaje,Shakira,19270,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ec,0.187,https://api.spotify.com/v1/audio-analysis/6mIC...,0.852,...,True,True,True,True,True,True,True,True,True,True

In [62]:
all_dat['uri'][0]

'spotify:track:3AEZUABDXNtecAOSC1qTfo'

In [73]:
final_df = all_dat.merge(timbre_df, on='uri', how = 'left')

In [74]:
final_df.head(2)['timbre_all_1']

0    [0.001, 9.041, 15.241, 19.557, 25.867, 30.103,...
1    [0.0, 43.798, 46.282, 43.994, 44.542, 45.126, ...
Name: timbre_all_1, dtype: object

In [ ]:
final_df.to_csv('all_songs_with_timbres.csv')