In [1]:
import spotipy
import spotipy.oauth2
import spotipy.util as util
import pandas as pd
import numpy as np

In [2]:
dat = pd.read_csv('top_all_time.csv')

In [3]:
world = pd.read_csv('worldwide.csv')

In [4]:
world.shape

(3441197, 7)

In [5]:
w_no_na = world.dropna()

In [6]:
w_no_na.shape

(3440540, 7)

In [7]:
3441197 - 3440540

657

In [8]:
w_no_na.columns

Index(['Position', 'Track Name', 'Artist', 'Streams', 'URL', 'Date', 'Region'], dtype='object')

In [34]:
region_names = list(set(w_no_na.Region))
print(len(region_names))

region_names[0:9]

54

['sv', 'cr', 'de', 'co', 'dk', 'at', 'pa', 'es', 'gb']

In [16]:
region_dict = {}

In [22]:
blahds = w_no_na[w_no_na.Region == region_names[0]]

In [23]:
len(blahds)

38878

In [31]:
list(set(blahds['Track Name']))[0]

'Bonita - Remix'

In [32]:
for i in range(0, len(region_names)):
    relevant_data = w_no_na[w_no_na.Region == region_names[i]] #subset data where region == relevant region
    relevant_artists = list(set(relevant_data['Track Name'])) #set of artists for region
    region_dict[region_names[i]] = relevant_artists

In [46]:
relevant_data.head(5)

,Position,Track Name,Artist,Streams,URL,Date,Region
684599,1,Starboy,The Weeknd,1950,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2017-01-01,ee
684600,2,Tuesday,Burak Yeter,1727,https://open.spotify.com/track/7abpmGpF7PGep2r...,2017-01-01,ee
684601,3,Closer,The Chainsmokers,1692,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2017-01-01,ee
684602,4,Alone,Alan Walker,1649,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,2017-01-01,ee
684603,5,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,1638,https://open.spotify.com/track/5knuzwU65gJK7IF...,2017-01-01,ee

In [59]:
dat.song.isin(list(relevant_data['Track Name']))

0       True
1       True
2       True
3      False
4      False
5      False
6       True
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
       ...
519    False
520     True
521     True
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529     True
530     True
531    False
532    False
533     True
534    False
535    False
536    False
537    False
538     True
539    False
540    False
541    False
542    False
543     True
544    False
545    False
546    False
547    False
548    False
Name: song, Length: 549, dtype: bool

In [36]:
print(len(region_dict))
print(region_dict.keys())

54
dict_keys(['sv', 'cr', 'de', 'co', 'dk', 'at', 'pa', 'es', 'gb', 'sk', 'global', 'nl', 'br', 'cl', 'ec', 'lt', 'us', 'it', 'be', 'lu', 'gr', 'mx', 'uy', 'ca', 'jp', 'id', 'sg', 'tr', 'cz', 'lv', 'pe', 'ch', 'se', 'ar', 'gt', 'py', 'pl', 'ph', 'nz', 'fr', 'fi', 'hn', 'ie', 'do', 'no', 'hu', 'pt', 'is', 'bo', 'au', 'hk', 'tw', 'my', 'ee'])

In [44]:
print(list(region_dict.keys())[0])
keys_list = list(region_dict.keys())

sv

In [62]:
dat.song.isin(list(region_dict[keys_list[0]])).head()

0    True
1    True
2    True
3    True
4    True
Name: song, dtype: bool

In [63]:
for i in keys_list:
    dat[i] = dat.song.isin(list(region_dict[i]))

In [65]:
dat.columns

Index(['Unnamed: 0', 'acousticness', 'analysis_url', 'danceability',
       'duration_ms', 'energy', 'id', 'instrumentalness', 'key', 'liveness',
       'loudness', 'mode', 'speechiness', 'tempo', 'time_signature',
       'track_href', 'type', 'uri', 'valence', 'popularity', 'song', 'artist',
       'genre', 'sv', 'cr', 'de', 'co', 'dk', 'at', 'pa', 'es', 'gb', 'sk',
       'global', 'nl', 'br', 'cl', 'ec', 'lt', 'us', 'it', 'be', 'lu', 'gr',
       'mx', 'uy', 'ca', 'jp', 'sg', 'tr', 'cz', 'lv', 'pe', 'ch', 'se', 'ar',
       'gt', 'py', 'pl', 'ph', 'nz', 'fr', 'fi', 'hn', 'ie', 'do', 'no', 'hu',
       'pt', 'is', 'bo', 'au', 'hk', 'tw', 'my', 'ee'],
      dtype='object')

In [66]:
dat.head(3)

,Unnamed: 0,acousticness,analysis_url,danceability,duration_ms,energy,id,instrumentalness,key,liveness,...,no,hu,pt,is,bo,au,hk,tw,my,ee
0,0,0.58100,https://api.spotify.com/v1/audio-analysis/7qiZ...,0.825,233713,0.652,True,0.00000,1,0.0931,...,True,True,True,True,True,True,True,True,True,True
1,1,0.00902,https://api.spotify.com/v1/audio-analysis/12VW...,0.785,173987,0.617,True,0.00246,1,0.3510,...,True,True,True,True,True,True,True,True,True,True
2,2,0.41500,https://api.spotify.com/v1/audio-analysis/7crM...,0.736,245507,0.541,True,0.00000,8,0.1100,...,True,True,True,True,True,True,True,True,True,True

In [67]:
dat.to_csv('combined_all_countries_1.csv') #all columns