# Cleaning raw positions

## Import data

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_rawPos = pd.read_csv('scraped_positions.csv')
df_rawPos.head()

,Unnamed: 0,acousticness,analysis_url,danceability,duration_ms,energy,id,instrumentalness,key,liveness,...,bo_position,no_position,id_position,es_position,fi_position,nz_position,global_position,ee_position,ch_position,ec_position
0,0,0.58100,https://api.spotify.com/v1/audio-analysis/7qiZ...,0.825,233713,0.652,True,0.00000,1,0.0931,...,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15...",[],[],"[2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, ...",[],[],"[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 4...",[],"[56, 57, 58, 60, 61, 63, 64, 65, 66, 67, 68, 6...","[1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 1..."
1,1,0.00902,https://api.spotify.com/v1/audio-analysis/12VW...,0.785,173987,0.617,True,0.00246,1,0.3510,...,"[2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, ...","[134, 135, 140, 141, 144, 148, 150, 151, 158, ...","[137, 147, 148, 155, 156, 158, 164, 169, 172, ...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16...","[136, 139, 143, 144, 145, 149, 151, 154, 155, ...","[128, 131, 132, 133, 135, 136, 139, 140, 143, ...","[11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...",[42],"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 1..."
2,2,0.41500,https://api.spotify.com/v1/audio-analysis/7crM...,0.736,245507,0.541,True,0.00000,8,0.1100,...,"[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 1...",[],[],"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 1...",[],[],"[47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 5...",[],"[128, 130, 131, 132, 133, 134, 135, 136, 137, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ..."
3,3,0.00346,https://api.spotify.com/v1/audio-analysis/4vS8...,0.723,176561,0.809,True,0.00123,7,0.5650,...,"[4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17...",[],[],"[4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[],[],"[37, 48, 49, 51, 52, 54, 58, 59, 60, 61, 63, 6...",[],"[74, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 8...","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,..."
4,4,0.47400,https://api.spotify.com/v1/audio-analysis/34gC...,0.781,281560,0.445,True,0.00000,2,0.1840,...,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...",[],[],"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",[],[],"[33, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 5...",[],"[53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 66, 6...","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,..."

In [3]:
features_rawPos = list(df_rawPos.columns)
startIndex = features_rawPos.index('pt_position')
features_pos = features_rawPos[startIndex:]
print(features_pos)

['pt_position', 'au_position', 'pe_position', 'us_position', 'fr_position', 'lt_position', 'is_position', 'lv_position', 'ph_position', 'sk_position', 'sg_position', 'cl_position', 'uy_position', 'lu_position', 'gb_position', 'se_position', 'br_position', 'hk_position', 'co_position', 'do_position', 'ar_position', 'pa_position', 'de_position', 'gt_position', 'at_position', 'ca_position', 'gr_position', 'ie_position', 'hn_position', 'jp_position', 'hu_position', 'pl_position', 'dk_position', 'it_position', 'tw_position', 'tr_position', 'mx_position', 'my_position', 'sv_position', 'nl_position', 'cz_position', 'py_position', 'be_position', 'cr_position', 'bo_position', 'no_position', 'id_position', 'es_position', 'fi_position', 'nz_position', 'global_position', 'ee_position', 'ch_position', 'ec_position']

In [4]:
df_positions = df_rawPos[features_pos]
df_positions.head()

,pt_position,au_position,pe_position,us_position,fr_position,lt_position,is_position,lv_position,ph_position,sk_position,...,bo_position,no_position,id_position,es_position,fi_position,nz_position,global_position,ee_position,ch_position,ec_position
0,"[52, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 6...",[],"[1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, ...",[],[],[],[],[],[],[],...,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15...",[],[],"[2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, ...",[],[],"[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 4...",[],"[56, 57, 58, 60, 61, 63, 64, 65, 66, 67, 68, 6...","[1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 1..."
1,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 1...","[132, 138, 188, 191, 88, 92, 99, 100, 102, 103...","[1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, ...","[131, 134, 180, 142, 181, 147, 148, 189, 150, ...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[32, 33, 34, 42, 22, 23, 24, 25, 26, 27, 28, 2...",[],"[37, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 5...","[128, 131, 132, 101, 133, 103, 136, 135, 140, ...","[32, 33, 34, 35, 48, 23, 24, 25, 26, 27, 28, 2...",...,"[2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, ...","[134, 135, 140, 141, 144, 148, 150, 151, 158, ...","[137, 147, 148, 155, 156, 158, 164, 169, 172, ...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 16...","[136, 139, 143, 144, 145, 149, 151, 154, 155, ...","[128, 131, 132, 133, 135, 136, 139, 140, 143, ...","[11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...",[42],"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 1..."
2,"[128, 129, 130, 131, 132, 133, 135, 136, 137, ...",[],"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",[],[],[],[],[],[],[],...,"[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 1...",[],[],"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 1...",[],[],"[47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 5...",[],"[128, 130, 131, 132, 133, 134, 135, 136, 137, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ..."
3,"[56, 58, 61, 62, 63, 64, 65, 66, 67, 68, 69, 7...",[],"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19...",[],[],[],[],[],[],[],...,"[4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17...",[],[],"[4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",[],[],"[37, 48, 49, 51, 52, 54, 58, 59, 60, 61, 63, 6...",[],"[74, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 8...","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,..."
4,"[55, 56, 59, 62, 63, 65, 66, 67, 68, 69, 70, 7...",[],"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...",[],[],[],[],[],[],[],...,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...",[],[],"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",[],[],"[33, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 5...",[],"[53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 66, 6...","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,..."

In [5]:
# Function for converting TimbreString into List
def timbreStringToList(timbreString):
    timbreString = timbreString[:-1]
    timbreString = timbreString[1:]
    if len(timbreString)!=0:
        timbreList = [float(s) for s in timbreString.split(',')]
    else:
        timbreList = np.nan
    return timbreList

In [6]:
df_positions.shape

(549, 54)

In [7]:
for i in range(df_positions.shape[1]):
    positions_df = df_positions.iloc[:,i]
    for j in range(df_positions.shape[0]):
        positions_df[j] = timbreStringToList(positions_df[j])
    df_positions.iloc[:,i] = positions_df

C:\Users\mx190\Anaconda3\envs\data-x\lib\site-packages\pandas\core\indexing.py:601: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [8]:
df_positions.head()

,pt_position,au_position,pe_position,us_position,fr_position,lt_position,is_position,lv_position,ph_position,sk_position,...,bo_position,no_position,id_position,es_position,fi_position,nz_position,global_position,ee_position,ch_position,ec_position
0,"[52.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61....",NaN,"[1.0, 2.0, 3.0, 4.0, 5.0, 8.0, 9.0, 10.0, 11.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",NaN,NaN,"[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0...",NaN,NaN,"[30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37....",NaN,"[56.0, 57.0, 58.0, 60.0, 61.0, 63.0, 64.0, 65....","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, 11.0,..."
1,"[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,...","[132.0, 138.0, 188.0, 191.0, 88.0, 92.0, 99.0,...","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9.0, 10.0, 11.0...","[131.0, 134.0, 180.0, 142.0, 181.0, 147.0, 148...","[13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20....","[32.0, 33.0, 34.0, 42.0, 22.0, 23.0, 24.0, 25....",NaN,"[37.0, 40.0, 41.0, 43.0, 44.0, 45.0, 46.0, 47....","[128.0, 131.0, 132.0, 101.0, 133.0, 103.0, 136...","[32.0, 33.0, 34.0, 35.0, 48.0, 23.0, 24.0, 25....",...,"[2.0, 3.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0...","[134.0, 135.0, 140.0, 141.0, 144.0, 148.0, 150...","[137.0, 147.0, 148.0, 155.0, 156.0, 158.0, 164...","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...","[136.0, 139.0, 143.0, 144.0, 145.0, 149.0, 151...","[128.0, 131.0, 132.0, 133.0, 135.0, 136.0, 139...","[11.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19....",[42.0],"[7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, ...","[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,..."
2,"[128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 135...",NaN,"[3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0,...",NaN,NaN,"[6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 1...",NaN,NaN,"[47.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55....",NaN,"[128.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135...","[3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0..."
3,"[56.0, 58.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66....",NaN,"[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0, 12.0, 13...",NaN,NaN,"[4.0, 5.0, 6.0, 9.0, 10.0, 11.0, 12.0, 13.0, 1...",NaN,NaN,"[37.0, 48.0, 49.0, 51.0, 52.0, 54.0, 58.0, 59....",NaN,"[74.0, 76.0, 78.0, 79.0, 80.0, 81.0, 82.0, 84....","[4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12...."
4,"[55.0, 56.0, 59.0, 62.0, 63.0, 65.0, 66.0, 67....",NaN,"[3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13...",NaN,NaN,"[3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0...",NaN,NaN,"[33.0, 43.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50....",NaN,"[53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60....","[4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12...."

In [12]:
# Get averages
print('Getting started')
for i in range(df_positions.shape[1]):
    positions_df = df_positions.iloc[:,i]
    for j in range(df_positions.shape[0]):
        positions_df[j] = np.mean(positions_df[j])
        if j%100==0:
            print('Finished another 100')
    print('Finished column'.format(i))

Getting started
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished another 100
Finished column

In [13]:
df_positions.head()

,pt_position,au_position,pe_position,us_position,fr_position,lt_position,is_position,lv_position,ph_position,sk_position,...,bo_position,no_position,id_position,es_position,fi_position,nz_position,global_position,ee_position,ch_position,ec_position
0,123.958,NaN,43.8143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.4328,NaN,NaN,66.0769,NaN,NaN,100.381,NaN,119.324,52.6517
1,81.7097,117.536,57.9121,135.419,102.537,29,NaN,46.2143,125,30.3571,...,65.1589,115.357,115.032,87.4825,129.234,144.111,98.8504,42,88.4688,79.8516
2,159.025,NaN,26.3913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.3529,NaN,NaN,73.6574,NaN,NaN,114.164,NaN,148.21,32.95
3,121.373,NaN,66.5319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.3077,NaN,NaN,91.5118,NaN,NaN,121.038,NaN,136.556,83.4179
4,123.943,NaN,64.8105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.8523,NaN,NaN,91.0328,NaN,NaN,120.951,NaN,123.413,78.4597

In [19]:
df_features = pd.read_csv('TimbreAll_withFeatures.csv')
df_features.head()

,Unnamed: 0,Unnamed: 0.1,timbre_all_1,timbre_all_2,timbre_all_3,timbre_all_4,timbre_all_5,timbre_all_6,timbre_all_7,timbre_all_8,...,max_timbre11,range_timbre11,80Percentile_timbre11,mean_timbre12,median_timbre12,std_timbre12,min_timbre12,max_timbre12,range_timbre12,80Percentile_timbre12
0,0,0,"[42.037, 42.795, 43.773, 43.83, 43.574, 45.219...","[-159.534, -165.043, -178.349, -142.676, -189....","[-54.943, -26.554, -31.161, -81.025, -38.769, ...","[219.73, 203.264, 176.276, 246.162, 196.86, 19...","[49.002, 53.621, 23.53, 32.439, 14.445, 8.525,...","[-113.6, -74.093, -93.638, -110.733, -105.977,...","[-69.729, -44.686, -53.704, -46.389, -28.113, ...","[-22.161, -20.58, -48.763, -22.934, -2.973, -4...",...,57.744,157.995,3.6902,-3.411885,-2.4790,13.339611,-53.845,37.774,91.619,7.7588
1,1,1,"[25.793, 20.587, 25.778, 20.349, 25.939, 18.35...","[61.193, 23.859, 131.734, 51.307, 76.377, 80.5...","[-4.064, 32.899, 91.34, 91.189, 22.277, 54.533...","[76.322, -6.545, 140.95, -44.779, 145.741, -16...","[71.732, 27.104, 24.14, 30.428, 29.539, 27.608...","[137.368, -4.067, -80.268, 21.022, -84.133, 4....","[-10.241, -62.677, -27.507, -26.072, -55.701, ...","[-13.244, 7.293, 4.592, -31.924, -30.91, 10.58...",...,87.010,199.987,1.6932,-2.246651,-2.4420,15.645132,-44.506,36.627,81.133,11.5428
2,2,2,"[0.0, 30.818, 27.768, 26.474, 25.731, 26.525, ...","[171.13, -281.075, -233.169, -225.21, -227.325...","[9.469, -33.326, -4.326, 3.887, -26.942, 1.06,...","[-28.48, -23.372, 3.01, -26.154, -14.353, -50....","[57.491, 62.867, 71.13, 73.155, 75.501, 73.369...","[-50.067, -21.341, -40.282, -58.064, -75.817, ...","[14.833, -20.045, -6.414, 6.812, -15.308, 15.3...","[5.359, 19.43, 20.342, 1.763, 7.714, 4.769, 14...",...,104.427,217.686,0.6802,1.795072,1.9440,13.292210,-37.643,41.531,79.174,12.8920
3,3,3,"[0.0, 27.664, 28.381, 26.589, 28.893, 26.08, 2...","[171.13, -195.806, -193.59, -170.1, -167.181, ...","[9.469, -133.475, -119.206, -137.978, -142.693...","[-28.48, 52.066, 38.154, 46.209, 74.23, 59.929...","[57.491, 13.709, 13.49, 31.499, 23.558, 35.115...","[-50.067, -55.298, -62.962, 18.922, -8.448, 0....","[14.833, -31.337, -30.616, -21.809, -27.419, -...","[5.359, 15.383, -3.89, 17.372, 2.687, 29.89, 1...",...,49.500,123.525,5.5830,0.437129,1.1040,17.708769,-48.071,54.298,102.369,16.3770
4,4,4,"[0.5, 28.529, 34.683, 36.622, 44.903, 48.328, ...","[159.754, 6.762, 94.103, -111.062, -59.981, -3...","[8.207, -81.832, -84.982, -57.909, -23.983, -3...","[-42.077, 3.164, 84.048, -23.975, -99.476, -68...","[59.646, 18.042, -3.015, 57.9, 53.619, 38.577,...","[-52.861, 86.289, 52.594, -29.84, 31.085, -2.6...","[13.376, -33.908, -18.697, -27.57, -13.75, -2....","[-12.493, -55.516, 10.703, 1.01, 47.941, -15.1...",...,67.121,158.016,6.8418,-6.117562,-5.8825,15.538641,-57.848,61.165,119.013,7.0520

In [20]:
df_features = df_features.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
df_features.head()

,timbre_all_1,timbre_all_2,timbre_all_3,timbre_all_4,timbre_all_5,timbre_all_6,timbre_all_7,timbre_all_8,timbre_all_9,timbre_all_10,...,max_timbre11,range_timbre11,80Percentile_timbre11,mean_timbre12,median_timbre12,std_timbre12,min_timbre12,max_timbre12,range_timbre12,80Percentile_timbre12
0,"[42.037, 42.795, 43.773, 43.83, 43.574, 45.219...","[-159.534, -165.043, -178.349, -142.676, -189....","[-54.943, -26.554, -31.161, -81.025, -38.769, ...","[219.73, 203.264, 176.276, 246.162, 196.86, 19...","[49.002, 53.621, 23.53, 32.439, 14.445, 8.525,...","[-113.6, -74.093, -93.638, -110.733, -105.977,...","[-69.729, -44.686, -53.704, -46.389, -28.113, ...","[-22.161, -20.58, -48.763, -22.934, -2.973, -4...","[-22.242, -15.925, -30.422, -19.189, -19.781, ...","[34.812, 40.564, 31.767, 36.467, 30.523, 47.57...",...,57.744,157.995,3.6902,-3.411885,-2.4790,13.339611,-53.845,37.774,91.619,7.7588
1,"[25.793, 20.587, 25.778, 20.349, 25.939, 18.35...","[61.193, 23.859, 131.734, 51.307, 76.377, 80.5...","[-4.064, 32.899, 91.34, 91.189, 22.277, 54.533...","[76.322, -6.545, 140.95, -44.779, 145.741, -16...","[71.732, 27.104, 24.14, 30.428, 29.539, 27.608...","[137.368, -4.067, -80.268, 21.022, -84.133, 4....","[-10.241, -62.677, -27.507, -26.072, -55.701, ...","[-13.244, 7.293, 4.592, -31.924, -30.91, 10.58...","[-40.953, -18.904, -59.522, -42.933, -58.035, ...","[66.804, -28.626, -10.943, 9.901, 3.197, -17.5...",...,87.010,199.987,1.6932,-2.246651,-2.4420,15.645132,-44.506,36.627,81.133,11.5428
2,"[0.0, 30.818, 27.768, 26.474, 25.731, 26.525, ...","[171.13, -281.075, -233.169, -225.21, -227.325...","[9.469, -33.326, -4.326, 3.887, -26.942, 1.06,...","[-28.48, -23.372, 3.01, -26.154, -14.353, -50....","[57.491, 62.867, 71.13, 73.155, 75.501, 73.369...","[-50.067, -21.341, -40.282, -58.064, -75.817, ...","[14.833, -20.045, -6.414, 6.812, -15.308, 15.3...","[5.359, 19.43, 20.342, 1.763, 7.714, 4.769, 14...","[-27.228, -21.432, -21.623, -25.578, -20.219, ...","[0.973, -4.789, -19.208, -12.971, -21.361, -17...",...,104.427,217.686,0.6802,1.795072,1.9440,13.292210,-37.643,41.531,79.174,12.8920
3,"[0.0, 27.664, 28.381, 26.589, 28.893, 26.08, 2...","[171.13, -195.806, -193.59, -170.1, -167.181, ...","[9.469, -133.475, -119.206, -137.978, -142.693...","[-28.48, 52.066, 38.154, 46.209, 74.23, 59.929...","[57.491, 13.709, 13.49, 31.499, 23.558, 35.115...","[-50.067, -55.298, -62.962, 18.922, -8.448, 0....","[14.833, -31.337, -30.616, -21.809, -27.419, -...","[5.359, 15.383, -3.89, 17.372, 2.687, 29.89, 1...","[-27.228, -2.522, -18.365, 2.729, -7.673, -3.3...","[0.973, -3.334, 10.292, -4.104, 14.744, 18.276...",...,49.500,123.525,5.5830,0.437129,1.1040,17.708769,-48.071,54.298,102.369,16.3770
4,"[0.5, 28.529, 34.683, 36.622, 44.903, 48.328, ...","[159.754, 6.762, 94.103, -111.062, -59.981, -3...","[8.207, -81.832, -84.982, -57.909, -23.983, -3...","[-42.077, 3.164, 84.048, -23.975, -99.476, -68...","[59.646, 18.042, -3.015, 57.9, 53.619, 38.577,...","[-52.861, 86.289, 52.594, -29.84, 31.085, -2.6...","[13.376, -33.908, -18.697, -27.57, -13.75, -2....","[-12.493, -55.516, 10.703, 1.01, 47.941, -15.1...","[-26.914, -11.03, 30.424, -3.752, -20.737, -31...","[-0.389, 22.997, -34.941, 36.958, -13.356, -6....",...,67.121,158.016,6.8418,-6.117562,-5.8825,15.538641,-57.848,61.165,119.013,7.0520

In [21]:
toDrop = ['timbre_all_1',
 'timbre_all_2',
 'timbre_all_3',
 'timbre_all_4',
 'timbre_all_5',
 'timbre_all_6',
 'timbre_all_7',
 'timbre_all_8',
 'timbre_all_9',
 'timbre_all_10',
 'timbre_all_11',
 'timbre_all_12',]

In [22]:
df_timbreFeatures = df_features.drop(toDrop, axis=1)
df_timbreFeatures.head()

,mean_timbre1,median_timbre1,std_timbre1,min_timbre1,max_timbre1,range_timbre1,80Percentile_timbre1,mean_timbre2,median_timbre2,std_timbre2,...,max_timbre11,range_timbre11,80Percentile_timbre11,mean_timbre12,median_timbre12,std_timbre12,min_timbre12,max_timbre12,range_timbre12,80Percentile_timbre12
0,51.416218,52.4405,4.280210,31.061,58.437,27.376,54.7602,0.789053,1.3615,47.407475,...,57.744,157.995,3.6902,-3.411885,-2.4790,13.339611,-53.845,37.774,91.619,7.7588
1,46.061457,47.4640,6.146014,1.902,54.945,53.043,50.6260,17.360664,15.8150,55.140528,...,87.010,199.987,1.6932,-2.246651,-2.4420,15.645132,-44.506,36.627,81.133,11.5428
2,49.410781,51.3765,7.703579,0.000,60.296,60.296,54.3626,35.450819,46.3010,71.178909,...,104.427,217.686,0.6802,1.795072,1.9440,13.292210,-37.643,41.531,79.174,12.8920
3,50.752320,52.1770,6.787925,0.000,57.930,57.930,54.9042,80.474752,94.2280,62.509153,...,49.500,123.525,5.5830,0.437129,1.1040,17.708769,-48.071,54.298,102.369,16.3770
4,46.626136,48.1810,7.551577,0.500,57.415,56.915,53.5444,5.873882,12.5550,55.910074,...,67.121,158.016,6.8418,-6.117562,-5.8825,15.538641,-57.848,61.165,119.013,7.0520

In [23]:
df_clean = pd.read_csv('cleanGlobalPrediction1.csv', encoding='latin-1')
df_clean.head()

,Unnamed: 0,song,analysis_url,track_href,uri,artist,acousticness,danceability,duration_ms,energy,...,metal,pop,punk,r&b,rap,rock,global,global_100,global_top,popularity
0,0,Shape of You,https://api.spotify.com/v1/audio-analysis/7qiZ...,https://api.spotify.com/v1/tracks/7qiZfU4dY1lW...,spotify:track:7qiZfU4dY1lWllzX7mPBI3,Ed Sheeran,0.58100,0.825,233713,0.652,...,0,1,0,0,0,0,True,True,True,92
1,1,One Dance,https://api.spotify.com/v1/audio-analysis/12VW...,https://api.spotify.com/v1/tracks/12VWzyPDBCc8...,spotify:track:12VWzyPDBCc8fqeWCAfNwR,Drake,0.00902,0.785,173987,0.617,...,0,0,0,0,0,0,True,True,False,74
2,2,Closer,https://api.spotify.com/v1/audio-analysis/7crM...,https://api.spotify.com/v1/tracks/7crMiinWx373...,spotify:track:7crMiinWx373rNBZBaVske,The Chainsmokers,0.41500,0.736,245507,0.541,...,0,0,0,0,0,0,True,True,False,65
3,3,Lean On (feat. MØ & DJ Snake),https://api.spotify.com/v1/audio-analysis/4vS8...,https://api.spotify.com/v1/tracks/4vS8VaBwJJV5...,spotify:track:4vS8VaBwJJV5Ry7UFIQuoo,Major Lazer,0.00346,0.723,176561,0.809,...,0,0,0,0,0,0,True,True,False,20
4,4,Thinking Out Loud,https://api.spotify.com/v1/audio-analysis/34gC...,https://api.spotify.com/v1/tracks/34gCuhDGsG4b...,spotify:track:34gCuhDGsG4bRPIf9bb02f,Ed Sheeran,0.47400,0.781,281560,0.445,...,0,1,0,0,0,0,True,True,False,87

In [24]:
df_clean = df_clean.drop(['Unnamed: 0'], axis=1)
df_clean.head()

,song,analysis_url,track_href,uri,artist,acousticness,danceability,duration_ms,energy,instrumentalness,...,metal,pop,punk,r&b,rap,rock,global,global_100,global_top,popularity
0,Shape of You,https://api.spotify.com/v1/audio-analysis/7qiZ...,https://api.spotify.com/v1/tracks/7qiZfU4dY1lW...,spotify:track:7qiZfU4dY1lWllzX7mPBI3,Ed Sheeran,0.58100,0.825,233713,0.652,0.00000,...,0,1,0,0,0,0,True,True,True,92
1,One Dance,https://api.spotify.com/v1/audio-analysis/12VW...,https://api.spotify.com/v1/tracks/12VWzyPDBCc8...,spotify:track:12VWzyPDBCc8fqeWCAfNwR,Drake,0.00902,0.785,173987,0.617,0.00246,...,0,0,0,0,0,0,True,True,False,74
2,Closer,https://api.spotify.com/v1/audio-analysis/7crM...,https://api.spotify.com/v1/tracks/7crMiinWx373...,spotify:track:7crMiinWx373rNBZBaVske,The Chainsmokers,0.41500,0.736,245507,0.541,0.00000,...,0,0,0,0,0,0,True,True,False,65
3,Lean On (feat. MØ & DJ Snake),https://api.spotify.com/v1/audio-analysis/4vS8...,https://api.spotify.com/v1/tracks/4vS8VaBwJJV5...,spotify:track:4vS8VaBwJJV5Ry7UFIQuoo,Major Lazer,0.00346,0.723,176561,0.809,0.00123,...,0,0,0,0,0,0,True,True,False,20
4,Thinking Out Loud,https://api.spotify.com/v1/audio-analysis/34gC...,https://api.spotify.com/v1/tracks/34gCuhDGsG4b...,spotify:track:34gCuhDGsG4bRPIf9bb02f,Ed Sheeran,0.47400,0.781,281560,0.445,0.00000,...,0,1,0,0,0,0,True,True,False,87

In [25]:
df = pd.concat([df_clean, df_timbreFeatures, df_positions], axis = 1)
df.head()

,song,analysis_url,track_href,uri,artist,acousticness,danceability,duration_ms,energy,instrumentalness,...,bo_position,no_position,id_position,es_position,fi_position,nz_position,global_position,ee_position,ch_position,ec_position
0,Shape of You,https://api.spotify.com/v1/audio-analysis/7qiZ...,https://api.spotify.com/v1/tracks/7qiZfU4dY1lW...,spotify:track:7qiZfU4dY1lWllzX7mPBI3,Ed Sheeran,0.58100,0.825,233713,0.652,0.00000,...,42.4328,NaN,NaN,66.0769,NaN,NaN,100.381,NaN,119.324,52.6517
1,One Dance,https://api.spotify.com/v1/audio-analysis/12VW...,https://api.spotify.com/v1/tracks/12VWzyPDBCc8...,spotify:track:12VWzyPDBCc8fqeWCAfNwR,Drake,0.00902,0.785,173987,0.617,0.00246,...,65.1589,115.357,115.032,87.4825,129.234,144.111,98.8504,42,88.4688,79.8516
2,Closer,https://api.spotify.com/v1/audio-analysis/7crM...,https://api.spotify.com/v1/tracks/7crMiinWx373...,spotify:track:7crMiinWx373rNBZBaVske,The Chainsmokers,0.41500,0.736,245507,0.541,0.00000,...,28.3529,NaN,NaN,73.6574,NaN,NaN,114.164,NaN,148.21,32.95
3,Lean On (feat. MØ & DJ Snake),https://api.spotify.com/v1/audio-analysis/4vS8...,https://api.spotify.com/v1/tracks/4vS8VaBwJJV5...,spotify:track:4vS8VaBwJJV5Ry7UFIQuoo,Major Lazer,0.00346,0.723,176561,0.809,0.00123,...,64.3077,NaN,NaN,91.5118,NaN,NaN,121.038,NaN,136.556,83.4179
4,Thinking Out Loud,https://api.spotify.com/v1/audio-analysis/34gC...,https://api.spotify.com/v1/tracks/34gCuhDGsG4b...,spotify:track:34gCuhDGsG4bRPIf9bb02f,Ed Sheeran,0.47400,0.781,281560,0.445,0.00000,...,59.8523,NaN,NaN,91.0328,NaN,NaN,120.951,NaN,123.413,78.4597

In [26]:
df = df.drop(['global',
 'global_100',
 'global_top',], axis = 1)

In [27]:
df.to_csv('workingDataset_timbrePosition.csv')